.container {
  color: var(--color-text);
  margin-top: 50px; /* Adjust as needed */
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillImageContainer img {
  max-width: 75px;
  max-height: 75px;
}

.skills p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.historyItem {
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 20px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 31px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
}

.historyItemDetails ul {
  margin-top: 10px;
  padding-left: 20px;
}

.historyItemDetails ul li {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 6px;
  text-align: justify;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .skills,
  .history {
    width: 100%;
  }
}
